---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }} — {{ site.name }}</title>
    <link>{{ site.url }}/blog/</link>
    <description>{{ site.description }}</description>
    <language>en-in</language>
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url | url }}</link>
      <guid>{{ site.url }}{{ post.url | url }}</guid>
      <pubDate>{{ post.date | rfc822 }}</pubDate>
      <description>{{ post.data.description }}</description>
    </item>
    {%- endfor %}
  </channel>
</rss>
